.footer-container {
  width: 100%;
  height: 275px;
  position: absolute;
}

.top-stripe-container {
  position: relative;
  height: 225px;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
}
.lower-stripe-container {
  position: relative;
  width: 100%;
  height: 50px;
  border-top: solid 1px lightgrey;
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-stripe-container span {
  position: relative;
  font-size: 1.2em;
}

.nav-bar-container {
}

.footer-navbar ul {
  padding: 0;
}

.footer-navbar ul li {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  padding: 0;
  display: block;
  color: white;
}

.links {
  color: lightgray;
}

.section-headline {
  color: white;
  font-size: 1.2em;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.sections{
  display: flex;
  justify-content: center;
}
