.home-page-header {
  width: 100%;
  height: 450px;
  background-image: url("http://localhost:3000/images/homepagestrip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 1%;
}
